.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container {
    margin: 0 auto;

}



a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    width: 1600px;

}

.header-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    width: 520px;
    justify-content: space-between;


}

.header-right {
    width: 307px;
    display: flex;
    justify-content: space-between;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;
}


.web {
    color: #2196F3;
    padding-top: 24px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 281px;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-list-item-one {}

.nav-list-item-two {}

.nav-list-item-three {}

.nav-list a {
    text-decoration: none;
    color: #212121;
}

.nav-list a:hover {
    color: #2196F3;
}

.contact-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style: none;

}


.mail {
    color: #757575;

}

.tel {
    color: #757575;

}

.mail:hover {
    color: #2196F3;
}

.tel:hover {
    color: #2196F3;
}

.contact-list a {
    color: #757575;
    text-decoration: none;
}

.contact-list a:hover {
    color: #2196F3;
}

.hero {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
}

.hero-title {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    align-items: center;
}

.hero-btn {
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 216px;
    height: 50px;
    font-weight: 700;
    justify-content: center;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;

}






/* start */
.features {
    width: 1200px;
    margin: 0 auto;
    padding: 94px 0px;
}


.features-list {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.3em;

}

ul,
h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

.features-list-item {
    width: 270px;
}

.features-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.futures-paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}


/* end  */






.list-ul {
    margin: 94px 215px 94px 215px;

    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    width: 1200px;
}

.list-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.img-list {

    width: 370px;
    height: 294px;
}

.img-list-one {
    margin-right: 30px;
    width: 370px;
    height: 294px;
    margin-left: 215px;
}

.img-list-two {
    margin-left: 30px;
    width: 370px;
    height: 294px;
    margin-right: 215px;
}


.section {
    background-color: #F5F4FA;
    height: 648px;


}

.tile-list {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.ul-list {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    width: 1200px;
}

.card {
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.img-two {
    width: 270px;
    height: 260px;
}

.name {
    width: 129px;
    height: 19px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
}

.job {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
}

.foot-er {
    background-color: #2F303A;
    width: 1600px;
    height: 252px;


}

.studio {
    color: #FFFFFF;
}

.web-1 {
    color: #2196F3;
    padding-top: 24px;
    margin: 60px 0px 20px 215px;
}

.footer-list {
    list-style: none;

}

address {
    margin: 20px 9px 20px 215px;
}

address {
    color: #FFFFFF;
}

.email {
    margin: 9px 1154px 9px 215px;
    color: #FFFFFF99;
    text-decoration: none;
}

.telephone {
    margin: 9px 1154px 60px 215px;
    color: #FFFFFF;
    opacity: 60%;
}

.section-buttons {
    display: block;
    margin: 0 auto;
    display: flex;
    margin-top: 94px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: space-between;
    align-content: center;
    width: 575px;

}

.button {
    width: 125px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: #F5F4FA;
    margin-right: 8px;
}

.button-1 {
    width: 130px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: #F5F4FA;
}

.button-2 {
    width: 73px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: #F5F4FA;
    margin-right: 8px;
}

.button-3 {
    width: 112px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: #F5F4FA;
    margin-right: 8px;
}

.button-3:hover {
    background: #2196F3;
    /* shadow-middle */
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-4 {
    width: 103px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: #F5F4FA;
    margin-right: 8px;
}

.button-4:hover {
    background: #2196F3;
    /* shadow-middle */
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


.button-2:hover {
    background: #2196F3;
    /* shadow-middle */
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-1:hover {
    background: #2196F3;
    /* shadow-middle */
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button:hover {
    background: #2196F3;
    /* shadow-middle */
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.cards .images {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardka {
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.cardka-1 {
    margin-bottom: 94px;
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.imna {
    margin: 20px 24px 4px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;

    color: #212121;
}

.robota {
    margin: 0px 24px 20px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;

    color: #757575;
}

.main-text-card {
    width: 322px;
    height: 70px;

}