.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}html {

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


body {
    font-family: 'Roboto' , sans-serif;
    font-style: normal;
    width: 1762px;
}
.logo-link {
    font-family: 'Raleway' , sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #212121;
        text-decoration: none;
        
}

.web {
    color: #2196F3;
}
.nav-list {
    list-style: none;
    font-weight: 500;
     font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-list a{
    text-decoration: none;
    color: #212121;
}

.nav-list a:hover{
    color: #2196F3;
}
.contact-list {
    font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    list-style: none;
    

}
.contact-list a{
color: #757575;
text-decoration: none;
}

.contact-list a:hover{
    color: #2196F3;
}
.hero {
   background-color: #2F303A;
width: 1600px;
    height: 600px;
   
}
.hero-title {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        color: #FFFFFF;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        align-items: center;
}
.hero-btn {
    
     width: 152px;
     height: 30px;
    font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.06em;
    background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #FFFFFF;
        align-items: center;
}

.features {
    width: 1170px;
    height: 98px;
}

.features-list {
    list-style: none;
    letter-spacing: 0.03em;
    
}

.features-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;   
    color: #212121;
}
.futures-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}
.list-ul{
list-style: none;
}

.list-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #212121;
}
.img-list {
    width: 370px;
    height: 294px;
}
.section {
background-color: #F5F4FA;

}
.tile-list {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #212121;
}

.ul-list{
    list-style-type: none;
}
.img-two{
    width: 270px;
    height: 260px;
}
.name {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;    
        color: #212121;
}
.job {
    font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #757575;
}

.foot-er{
    background-color: #2F303A;
    width: 1600px;
    height: 252px;
    
}
.web-2 {
    color: #2196F3;
    font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
}
.studio {
    color: #FFFFFF;
}
.footer-list{
    list-style: none;
}
address {
    color: #FFFFFF;
}
.email {
    color: #FFFFFF99;
    text-decoration: none;
}