.footer {
  padding: 60px 0;
  background-color: #2f303a;
  width: 100%;
}

.footer .container {
  display: flex;

  @media (max-width: 480px) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.footer-section {
  margin-right: 70px;

  &__link {
    @include text(26px, 700, 31px, 0.03em);
    font-family: $Fontsecondary;
    font-style: normal;
  }
}

.studio {
  color: $Colorthird;
}

.footer-section__web {
  color: $Colorfourth;
}

.address {
  &__link {
    @include text(14px, 400, 1.71, 0.03em);
    margin: 20px 0 9px 0;
    display: block;
    color: $Colorthird;
  }

  &__email {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    @include text(14px, 400, 1.71, 0.03em);
  }
}

.contact-link:not(:last-child) {
  margin-bottom: 9px;
}

.socials-section {
  padding: 12px 0 0;
  width: 206px;
  margin-right: 93px;
}

.socials-section__title {
  @include text(14px, 700, normal, 00.42px);
  margin-bottom: 20px;
  color: $Colorthird;
  text-transform: uppercase;
}

.socials-list {
  @extend %flex;

  &__item {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    @extend %flex;
    justify-content: center;

    &:hover {
      background-color: $Colorfourth;
      transition: background-color 0.7s ease-out;
    }
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: $Colorthird;
  }
}

.section-telegram {
  padding-top: 12px;
  width: 570px;
}

.section-form {
  display: flex;
  align-items: flex-end;

  @media (max-width:480px) {
    width: 450px;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }

  &__label {
    display: block;
    @include text(14px, 700, normal, 0.42px);
    color: $Colorthird;
    text-transform: uppercase;
  }

  &__input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    outline: none;
    cursor: pointer;
    color: #e2dddd;
    margin-top: 20px;

    @media (max-width: 768px) {
      display: block;
      margin-bottom: 20px;
    }

    @media (max-width:480px) {
      width: 450px;
    }
  }
}

.section-form-button {
  @extend %flex;
  flex-wrap: nowrap;
  gap: 12px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: $Colorfourth;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: $Colorthird;
  text-align: center;
  @include text(16px, 700, 30px, 00.96px);
  cursor: pointer;
  padding: 0 28px;

  &__svg {
    width: 24px;
    height: 24px;
    fill: $Colorthird;
  }
}

@media (max-width: 768px) {
  .footer .container {
    display: flex;
    max-width: 768px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
  }
  .footer-section__link {
    text-align: center;
  }
  .address {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .socials-section {
    margin-right: 0;
  }

  .socials-section__title {
    text-align: center;
  }
  .section-form__label {
    display: block;
    text-align: center;
  }

  .section-telegram {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-form {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-right: 0;
  }
}
