.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 24px 0;
  border-bottom: 1px solid #ececec;
  background-color: white;
  width: 100%;
  @media screen and (max-width: 1199px) {
    padding: 21px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 10px 0;
  }

  &__logo {
    @include text(26px, 700, normal, 0.78px);
    font-family: "Raleway", sans-serif;
    color: #212121;
    @media screen and (max-width: 1199px) {
      font-size: 24px;
      letter-spacing: 0.72px;
    }
  }
  &__logo-web {
    color: #2196f3;
  }
}

.header-nav {
  width: 285px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transition: color 250ms ease-out;
    &:hover,
    &:focus {
      color: #2196f3;
      &::after {
        width: 100%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 44px;
      left: 0;
      width: 0;
      height: 4px;
      background-color: $Colorfourth;
      border-radius: 2px;
      transition: width 250ms ease;
    }
  }
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 333px;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 138px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color 250ms ease-out;
    @media screen and (max-width: 1199px) {
      font-size: 12px;
      letter-spacing: 0.24px;
    }
    &:hover,
    &:focus {
      color: #2196f3;
      & .header-contacts__icon {
        fill: #2196f3;
      }
    }
  }
  &__icon {
    fill: $Colorsecondary;
    margin-right: 10px;
    transition: color 250ms ease-out;
  }
}


// menu
  .menu-button {
    position: absolute;
    top: 6px;
    right: 15px;
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @media (max-width: 767px) {
      display: block;
    }
  }
  // .menu-phone {
  //   width: 40px;
  //   height: 40px;
  // }