.header {
  width: 1600px;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  width: 1200px;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav .header-nav-left {
  display: flex;
  width: 520px;
  justify-content: space-between;
}
.header-nav .header-nav-left__link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.header-nav .header-nav-left__link .header-nav-left-link__web {
  color: #2196f3;
  padding-top: 24px;
}
.header-nav .header-nav-left-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 281px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-nav .header-nav-left-list__li .header-nav-left-list__link {
  position: relative;
  text-decoration: none;
  color: #212121;
}
.header-nav .header-nav-left-list__li .header-nav-left-list__link:hover {
  transition: color 250ms ease-out;
  color: #2196f3;
}
.header-nav .header-nav-left-list__li .header-nav-left-list__link .header-nav-left-list__link:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
.header-nav .header-nav-left-list__li .header-nav-left-list__link .header-nav-left-list__link:hover:after {
  width: 100%;
  transition: width 250ms ease;
}
.header-nav .header-nav-left-list__li .header-nav-left-list__link .header-nav-left-list__link:hover {
  display: block;
}
.header-nav .header-nav-left-list__li .header-nav-left-list__link .header-nav-left-list__link:hover:hover {
  width: 100%;
  transition: width 0.2s ease;
}
.header-nav .header-nav-right {
  width: 333px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav-right-list .header-nav .header-nav-right__link {
  display: flex;
  width: 161px;
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-nav-right-list .header-nav .header-nav-right__link .header-nav-right__icon {
  fill: #757575;
  margin-right: 10px;
}
.header-nav-right-list .header-nav .header-nav-right__link .header-nav-right__link:hover .header-nav-right__icon,
.header-nav-right-list .header-nav .header-nav-right__link .header-nav-right__link:focus .header-nav-right__icon {
  fill: #2196f3;
  transition: fill 250ms ease-out;
}

.line {
  border-radius: 2px;
  background: #2196f3;
  background-color: #2196f3;
  border-radius: 2px;
}

.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
}

.tel:hover .icon-contact,
.tel:focus .icon-contact {
  fill: #2196f3;
  transition: fill 250ms ease-out;
}

.tel {
  color: #757575;
}

.mail:hover {
  color: #2196f3;
  transition: color 250ms ease-out;
}

.tel:hover {
  color: #2196f3;
  transition: color 250ms ease-out;
}

.contact-list a {
  color: #757575;
  text-decoration: none;
}

.contact-list a:hover {
  color: #2196f3;
}/*# sourceMappingURL=_header.css.map */