.header {
  width: 1600px;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

@media (max-width: 768px) {
  .header {
    max-width: 768px;

    .header-nav-left-link__web {
      margin-top: 5px;
    }
    .header-container {
      max-width: 768px;
      padding: 21px 15px;
    }

    .header-nav-left {
      max-width: 504px;
    }

    &__link {
      font-size: 24px;
    }

    .header-nav-left-list {
      max-width: 283px;
    }

    .header-nav-right-list {
      gap: 10px;
      max-width: 138px;
      flex-direction: column;

      &__link {
        display: flex;
        font-size: 12px;
        letter-spacing: 0.24px;
      }

      &__icon {
        margin-right: 8px;
      }
    }
  }
}

.header-container {
  width: 1200px;
  margin: 0 auto;
  padding: 25px 0;
  @extend %flex;
}

.header-nav {
  .header-nav-left {
    @extend %flex;
    width: 520px;

    &__link {
      @include text(26px, 700, 31px, 0.03em);
      font-family: $Fontsecondary;
      color: $Colorprimary;
      text-decoration: none;

      .header-nav-left-link__web {
        color: $Colorfourth;
        padding-top: 24px;
      }
    }
  }

  .header-nav-left-list {
    @extend %flex;
    width: 281px;
    list-style: none;
    @include text(14px, 500, 16px, 0.02em);
    color: $Colorprimary;

    .header-nav-left-list__li {
      .header-nav-left-list__link {
        position: relative;
        text-decoration: none;
        color: $Colorprimary;

        &:hover {
          transition: color 250ms ease-out;
          color: $Colorfourth;
        }

        .header-nav-left-list__link:after {
          content: "";
          position: absolute;
          top: 44px;
          left: 0;
          width: 0;
          height: 4px;
          background-color: $Colorfourth;
          border-radius: 2px;
        }

        .header-nav-left-list__link:hover:after {
          width: 100%;
          transition: width 250ms ease;
        }

        .header-nav-left-list__link:hover {
          display: block;
        }

        .header-nav-left-list__link:hover:hover {
          width: 100%;
          transition: width 0.2s ease;
        }
      }
    }
  }
}

.header-nav-right-list {
  @extend %flex;
  width: 333px;

  &__link {
    color: $Colorsecondary;
    @include text(14px, 500, normal, 0.28px);

    &:hover {
      color: $Colorfourth;
      transition: color 250ms ease-out;
    }

    &:hover .header-nav-right-list__icon,
    &:focus .header-nav-right-list__icon {
      fill: $Colorfourth;
      transition: fill 250ms ease-out;
    }
  }

  &__icon {
    fill: $Colorsecondary;
    margin-right: 10px;
  }
}
