
.page-hero {
  background-image: url(../img/hero.png);
  max-width: 1600px;
  padding: 200px 0;

  @media (max-width: 1199px) {
    background-image: url("../img/hero-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 2dppx),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-device-pixel-ratio: 2) {
      background-image: url("../img/hero-tablet.jpg");
    }
  }

  @media (max-width: 767px) {
    background-image: url("../../img/hero-phone.jpg");

    @media (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 2dppx),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-device-pixel-ratio: 2) {
      background-image: url("../img/hero.png");
    }
  }

  &__title {
    @include text(44px, 900, 1.36, 0.06em);
    margin-bottom: 30px;
    color: $Colorthird;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    @media (max-width: 1199px) {
      font-size: 26px;
      line-height: 42px;
      letter-spacing: 1.56px;
    }
  }
}

.page-hero__button {
  margin: 0 auto;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;

  @media (max-width:1199px) {
    width: 200px;
  }
}
