.hero {
    background-image: url(../img/hero.png);
    width: 1600px;
    padding: 200px 0;
}

.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    align-items: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) url(img/Img.png);
}

.hero-btn {
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 216px;
    height: 50px;
    font-weight: 700;
    justify-content: center;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;

}


.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 100%;
    z-index: 99;

}


.modal {
    padding: 40px;
    width: 528px;
    position: fixed;
    background-color: #fff;
    z-index: 100;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.modal-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-label {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-bottom: 4px;
}

.modal-input:focus+.modal-svg {
    fill: #2196F3;
}

.modal-input:focus {
    border-color: #2196F3;
}



.btn-close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;

}

.close-svg {
    width: 18px;
    height: 18px;

}

.btn-close:hover {
    fill: #2196F3;
}


.modal-textarea {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    resize: none;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
}


.modal-input {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    width: 448px;
    height: 40px;
    margin-top: 4px;
    padding: 12px 0 12px 42px;
    outline: none;
    cursor: pointer;
}

.ros {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.modal-link {
    display: inline;
    color: #2196F3;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.modal-checkbox {
    width: 16px;
    height: 15px;
    border-color: #212121;
    margin-right: 8px;
    margin-top: 25px;
}

.modal-checkbox:checked {
    background-color: #2196F3;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.modal-btn {
    display: block;
    height: 50px;
    margin-top: 30px;
    width: 200px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
}

.modal-svg {
    position: absolute;
    top: 30px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: #212121;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.modal-title {
    margin-bottom: 12px;
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}
