.workers {
  background-color: #f5f4fa;
  height: 648px;
  padding: 94px 0;

  .workers__title {
    text-align: center;
    margin-bottom: 50px;
    @include text(36px, 700, 42px, 0.03em);
    color: $Colorprimary;
  }
}

.workers-list {
  margin: 0 auto;
  @extend %flex;
  list-style-type: none;
  text-align: center;


  &__item {
    width: 270px;
    background: $Colorthird;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
  }

  &__name {
    @include text(16px, 500, 19px, 0.03em);
    margin-top: 30px;
    margin-bottom: 10px;
    color: $Colorprimary;
  }

  &__job {
    @include text(16px, 400, 19px, 0.03em);
    color: $Colorsecondary;
  }

  //   links

  .workers-list-links {
    @extend %flex;
    width: 206px;
    margin: 16px auto 0;
    cursor: pointer;

    &__item {
      @extend %flex;
      justify-content: center;
      border-radius: 50%;
      width: 44px;
      height: 44px;

      &:hover {
        background-color: $Colorfourth;
        transition: background-color 0.7s ease-out;
      }

      &:hover .workers-list-links__svg {
        fill: $Colorthird;
      }
    }

    &__svg {
      fill: #afb1b8;
      &:hover {
        fill: $Colorthird;
      }
    }
  }
}

// @media (max-width: 768px) {
//   .workers {
//     height: 1285px;
//     max-width: 768px;
//     padding: 60px 15px 0 15px;
//   }

//   .workers-title {

//     letter-spacing: 0.84px;
//     font-size: 28px;
//     margin-bottom: 30px;
//   }

//   .workers-list {
//     max-width: 768px;
//     display: flex;
//     flex-wrap: wrap;
//     gap: 30px;

//     &__item {
//       width: 354px;
//     }
//   }

//   .workers-item__image {
//     width: 354px;
//     height: 374px;
//   }
// }
