.work__title {
  @extend %flex;
  justify-content: center;
  @include text(36px, 700, 42px, 0.03em);
  margin-bottom: 50px;
  color: $Colorprimary;
}

@media (max-width: 768px) {

  .work {
    padding: 0;
    margin: 0;
    display: none
  }
}

.figures {
  @extend %flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: nowrap;

  &__img {
    position: relative;
    width: 370px;
    height: 294px;
  }

  &__caption {
    @include text(14px, 700, normal, 0.42);
    position: absolute;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    color: $Colorthird;
    text-align: center;
    text-transform: uppercase;
    width: 370px;
    padding: 27px 0 27px 0;
  }
}

