$Colorprimary: #212121;
$Colorsecondary: #757575;
$Colorthird: #ffffff;
$Colorfourth: #2196f3;
$Colorfifth: #afb1b8;

// шрифти
$Fontprimary: 'Roboto', sans-serif;
$Fontsecondary: "Raleway", sans-serif;
